<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/use.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <form action="/auth/authentication" method="post">
        <label for="uname" id="ulabel">Username</label>
        <input type="text" name="uname" id="uname"><br>
        <label for="pass" id="plabel">Password</label>
        <input type="password" name="pass" id="pass"><br>
        <input type="submit" class="btn btn-primary" value="Login" id="submit"></form> <br>
        <a href="register" id="register"> <button> Register Here</button></a>
</body>
</html>